@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
header {
  text-align: center;
  background-color: purple;
  color: white;
  font-weight: bolder;
  }
  * {
    box-sizing: border-box;
}
body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1512915922686-57c11dde9b6b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size: cover;
  }
.container {
  background-color: rgb(192,192,192,0.5);
  height:400px;
}
.form-group {
  background-color:rgba(255, 200, 200, 0.7);
  padding: 4%;
  text-align: justify;
  border-radius: 20px;
  font-size:17px;
  font-family: Roboto, fantasy;
  width:350px;
  overflow: hidden;
  float: left;
  height: 400px;
  margin-left:20%;
  }
.login p {
  font-size: 16px;
  }
h1 {
  color: purple;
  margin: 0 auto;
  text-align: center;
  background-color:#CFD8DC;
  font-family: Merriweather, serif;
  width: 150px;
  border-radius: 20px;
    }
.introduction {
  background-color: rgba(255,255,255,.7);
  color: black;
  float: right;
  display: block;
  width:50%;
  height:400px;
  margin: 0 auto;
  text-align: left;
  font-family: Merriweather, serif;
  padding-left: 2em;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 50px;
  }
.introduction  h4{
    font-size: 25px;
  }
  span input{
    width: 100%;
      }
  button{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
  }
